.imgdiv{
    position: absolute;
    right: 4%;
    top: 3%;
    img{
    height: 70px;
    // border: 2px solid #9c997b;
    border-radius: 15px;
    }
}
.top55{
    top: 55%;
}
.top65{
    top: 65%;
}
.top63{
    top: 63%;
}
.textname{
    position: absolute;
    right: 30%;
    font-size: 18px;
    font-family: 'Cantarell', sans-serif !important;
    color: #65a8f9 !important;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
}
.loginBtn{
    --background: #3284e8;
    --border-radius: 50px;
    height: 50px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    }
.btndiv{
    position: absolute;
    width: 100%;
    bottom: 2%;
}  