.button-native{padding: 0px !important;}
.callbtn{--padding-start:0px; --padding-end:0px; color: #aaa; font-size:18px;}
h2{margin: 0; font-size: 15px; font-weight: 600; text-transform: uppercase;}
p{color: #aaa; font-size: 14px;}
.list-md {
  padding-top: 0px;
  padding-bottom: 0px;
}
.evenno{
    --background:#f1f1f1 !important;
    border-bottom: 1px solid #eee7e7;
}
.oddno{
    --background:#fff;
    border-bottom: 1px solid #eee7e7;
}