<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="colorfff"></ion-back-button>
    </ion-buttons>
    <ion-title>
        Email Broadcast
    </ion-title>
    <ion-buttons slot="end"  *ngIf="listShow">
        <ion-button ion-button icon-only color="royal" (click)="gotoEmail()">
          <ion-icon name="paper-plane" class="f25 colFFF"></ion-icon>
        </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>
  
  <ion-content class="bgf3">
      <ion-list *ngIf="listShow">
          <!-- loop start -->
          <ion-item class="innerbor">
              <ion-label class="textColor">Select All</ion-label>
              <ion-checkbox slot="end" 
              [(ngModel)]="masterCheck"
              [indeterminate]="isIndeterminate"
                (click)="checkMaster($event)"></ion-checkbox>
            </ion-item>
          <ion-item class="bottomLine" lines="none" class="oddno" *ngFor="let item of checkBoxList; let i = index" [ngClass]="i%2 == 0?'evenno':'oddno'">
            <ion-avatar slot="start">
              <img src="{{item.full_image_profile}}" onerror="this.src='assets/image/avatar.jpg';"
                imageViewer>
            </ion-avatar>
            <div>
              <h2 class="fontCan color65">{{item.personf}}</h2>
              <p>{{item.email}}</p>
            </div>
             <ion-checkbox slot="end"
                [(ngModel)]="item.isChecked"  
                (ionChange)="checkEvent()" checked>
            </ion-checkbox>
             
          </ion-item>
          <!-- loop end -->
        </ion-list>
        
        <div *ngIf="!listShow">
          <p class="datanot">Data Not Found</p>
       </div> 
  </ion-content>
  