<ion-header>
  <ion-toolbar><ion-buttons slot="start">
    <ion-menu-button>
        <img src="../../assets/image/menuicon.png" >
    </ion-menu-button>
  </ion-buttons>
  <ion-title>Party List</ion-title>
  <ion-buttons slot="end">
      <ion-button ion-button icon-only color="royal" (click)="addParty()">
        <ion-icon name="add" class="f25 colFFF"></ion-icon>
      </ion-button>
  </ion-buttons>  
</ion-toolbar>
</ion-header>
 
<ion-content class="bgf3">
  <div *ngIf="listShow">
    <ion-list>
        <!-- loop start -->
        <ion-item class="bottomLine" lines="none" class="oddno" *ngFor="let item of partyList; let i = index" [ngClass]="i%2 == 0?'evenno':'oddno'">
          <ion-avatar slot="start">
            <img src="{{item.full_image_profile}}" onerror="this.src='assets/image/avatar.jpg';" imageViewer>
          </ion-avatar>
          <div (click)="gotoDetail(item.id)">
            <h2 class="fontCan color65">{{item.personf}}</h2>
            <p>{{item.companyname}}</p>
          </div>
        <ion-button fill="clear" slot="end" class="callbtn"
            (click)="presentActionSheet1(item.personf,item.mobile)">
            <ion-icon name="call"></ion-icon>
          </ion-button>
        </ion-item>
        <!-- loop end -->
      </ion-list>
    </div>
    <div *ngIf="!listShow">
       <p class="datanot">Data Not Found</p>
    </div>  
</ion-content>
