.firsticon{
    font-size: 40px;
    margin-left: 20px;
    margin-top: 6%;
}
.sc-ion-card-md-h {
   box-shadow: 0 0px 0px 0px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 2px 0 rgba(0,0,0,.12);
}